@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700|Sacramento);
@font-face {
	font-family: 'codropsicons';
	src:url('../fonts/codropsicons/codropsicons.eot');
	src:url('../fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/codropsicons/codropsicons.woff') format('woff'),
		url('../fonts/codropsicons/codropsicons.ttf') format('truetype'),
		url('../fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');
	font-weight: normal;
	font-style: normal;
}

body {
	font-family: 'Lato', Arial, sans-serif;
	background: #add8df;
	color: #fff;
	overflow-x: hidden;
	overflow-y: scroll;
	font-weight: 300;
}

.clearfix:before,
.clearfix:after {
	content: '';
	display: table;
}

.clearfix:after {
	clear: both;
}

a {
	color: rgba(0,0,0,0.4);
	text-decoration: none;
	outline: none;
}

a:hover,
a:focus {
	color: #fff;
}

.container > header {
	margin: 0 auto;
	padding: 2em;
	text-align: center;
	background: rgba(0,0,0,0.01);
}

.container > header h1 {
	font-size: 2.625em;
	line-height: 1.3;
	margin: 0;
	font-weight: 300;
}

.container > header span {
	display: block;
	font-size: 63%;
	font-weight: 400;
	color: rgba(0,0,0,0.4);
	padding: 0.2em 0 0.6em 0.1em;
}

.container > header span a {
	color: #fff;
}

.container > header span a:hover {
	opacity: 0.7;
}

/* To Navigation Style */
.codrops-top {
	background: rgba(255, 255, 255, 0.2);
	text-transform: uppercase;
	width: 100%;
	font-size: 0.7em;
	line-height: 2.2;
	font-weight: 700;
}

.codrops-top a {
	text-decoration: none;
	padding: 0 1em;
	letter-spacing: 0.1em;
	display: inline-block;
}

.codrops-top a:hover {
	background: rgba(255,255,255,0.6);
	color: #333;
}

.codrops-top span.right {
	float: right;
}

.codrops-top span.right a {
	float: left;
	display: block;
}

.codrops-icon:before {
	font-family: 'codropsicons';
	margin: 0 4px;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

.codrops-icon-drop:before {
	content: "\e001";
}

.codrops-icon-prev:before {
	content: "\e004";
}

.related {
	text-align: center;
	font-size: 1.6em;
	padding: 2em 0;
}

.related a {
	display: block;
	max-width: 200px;
	margin: 0 auto;
}

.related a span {
	display: block;
	font-size: 0.5em;
	font.weight: 300;
}

@media screen and (max-width: 25em) {

	.codrops-icon span {
		display: none;
	}

}